<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Detection & Sentiment Analysis</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <div class="intro-section">
        <img src="static/Rating illustration.jpg" alt="Project Background" class="intro-image">
        <div class="intro-text">
            <h1>Welcome to the Review Detection & Sentiment Analysis</h1>
            <p>Explore the authenticity and sentiment behind user reviews.</p>
            <a href="/review-input" class="input-button">Enter Your Review</a>
        </div>
    </div>
</body>
</html>
